In [1]:
import polars as pl
# download latest data source 
import zipfile
from io import BytesIO
from urllib.request import urlopen
import shutil

### Reading files

In [15]:
import sys
from pathlib import Path
sys.path.append(str(Path().resolve().parent))
from steps import conf

In [16]:
s3_file_path = f"https://{conf.bucket_name}.s3.ap-southeast-2.amazonaws.com/{conf.parquet_file}"

df = pl.read_parquet(s3_file_path)
df = df.unique()

In [32]:
def calculate_unique_fields(df):
    unique_fields = {}
    for col in df.columns:
        unique_fields[col] = df[col].unique().to_list()
    return unique_fields

In [33]:
filter_mapping = calculate_unique_fields(df.unique())

In [42]:
from datetime import datetime
all_dates = sorted(filter_mapping.get('Date'))
all_dates = [datetime.strptime(date, "%Y-%m-%d") for date in all_dates]

In [47]:
df.select("Name").unique()

shape: (758_070, 1)
┌────────────────────┐
│ Name               │
│ ---                │
│ str                │
╞════════════════════╡
│ Alona Vladi        │
│ Galina Solovyanova │
│ Daniil Voronin     │
│ Aleksey Krasov     │
│ …                  │
│ Natasza Rajewska   │
│ Virginia Mirza     │
│ Janel Daffue       │
│ Ronald Tubiniez    │
└────────────────────┘

In [52]:
df.filter((pl.col("Date") > "2022-05-11") & (pl.col("Name") == "Nam Tonthat"))

shape: (2, 41)
┌─────────────┬─────┬───────┬───────────┬───┬─────────────┬───────────┬──────────┬─────────────────┐
│ Name        ┆ Sex ┆ Event ┆ Equipment ┆ … ┆ MeetCountry ┆ MeetState ┆ MeetTown ┆ MeetName        │
│ ---         ┆ --- ┆ ---   ┆ ---       ┆   ┆ ---         ┆ ---       ┆ ---      ┆ ---             │
│ str         ┆ str ┆ str   ┆ str       ┆   ┆ str         ┆ str       ┆ str      ┆ str             │
╞═════════════╪═════╪═══════╪═══════════╪═══╪═════════════╪═══════════╪══════════╪═════════════════╡
│ Nam Tonthat ┆ M   ┆ SBD   ┆ Raw       ┆ … ┆ Australia   ┆ null      ┆ null     ┆ Ethos Strength  │
│             ┆     ┆       ┆           ┆   ┆             ┆           ┆          ┆ Open            │
│ Nam Tonthat ┆ M   ┆ SBD   ┆ Raw       ┆ … ┆ Australia   ┆ VIC       ┆ null     ┆ Australia       │
│             ┆     ┆       ┆           ┆   ┆             ┆           ┆          ┆ Nationals &     │
│             ┆     ┆       ┆           ┆   ┆             ┆           ┆          ┆ Internatio…     │
└─────────────┴─────┴───────┴───────────┴───┴─────────────┴───────────┴──────────┴─────────────────┘

In [17]:
users = df["Name"].unique().to_list()
users = [user for user in users if user == "Taylor Atwood"]

In [24]:
user_df = df.select(
    pl.col(['Date', 'Name', "TotalKg", "Event", "Best3SquatKg", "Best3BenchKg", "Best3DeadliftKg", "Wilks"])
).filter(
    pl.col('Name').is_in(users)
).sort(by="Date").drop_nulls()

user_df

shape: (20, 8)
┌────────────┬────────┬─────────┬───────┬────────────┬──────────────┬─────────────────┬────────┐
│ Date       ┆ Name   ┆ TotalKg ┆ Event ┆ Best3Squat ┆ Best3BenchKg ┆ Best3DeadliftKg ┆ Wilks  │
│ ---        ┆ ---    ┆ ---     ┆ ---   ┆ Kg         ┆ ---          ┆ ---             ┆ ---    │
│ str        ┆ str    ┆ f64     ┆ str   ┆ ---        ┆ f64          ┆ f64             ┆ f64    │
│            ┆        ┆         ┆       ┆ f64        ┆              ┆                 ┆        │
╞════════════╪════════╪═════════╪═══════╪════════════╪══════════════╪═════════════════╪════════╡
│ 2013-09-14 ┆ Taylor ┆ 635.0   ┆ SBD   ┆ 212.5      ┆ 172.5        ┆ 250.0           ┆ 453.11 │
│            ┆ Atwood ┆         ┆       ┆            ┆              ┆                 ┆        │
│ 2014-02-01 ┆ Taylor ┆ 645.0   ┆ SBD   ┆ 215.0      ┆ 170.0        ┆ 260.0           ┆ 462.19 │
│            ┆ Atwood ┆         ┆       ┆            ┆              ┆                 ┆        │
│ 2014-07-17 ┆ Taylor ┆ 687.5   ┆ SBD   ┆ 235.0      ┆ 180.0        ┆ 272.5           ┆ 496.92 │
│            ┆ Atwood ┆         ┆       ┆            ┆              ┆                 ┆        │
│ 2014-12-06 ┆ Taylor ┆ 700.0   ┆ SBD   ┆ 250.0      ┆ 185.0        ┆ 265.0           ┆ 493.37 │
│            ┆ Atwood ┆         ┆       ┆            ┆              ┆                 ┆        │
│ …          ┆ …      ┆ …       ┆ …     ┆ …          ┆ …            ┆ …               ┆ …      │
│ 2021-06-14 ┆ Taylor ┆ 838.5   ┆ SBD   ┆ 303.0      ┆ 195.0        ┆ 340.5           ┆ 605.3  │
│            ┆ Atwood ┆         ┆       ┆            ┆              ┆                 ┆        │
│ 2022-04-01 ┆ Taylor ┆ 732.5   ┆ SBD   ┆ 255.0      ┆ 202.5        ┆ 275.0           ┆ 528.32 │
│            ┆ Atwood ┆         ┆       ┆            ┆              ┆                 ┆        │
│ 2022-06-06 ┆ Taylor ┆ 790.0   ┆ SBD   ┆ 277.5      ┆ 197.5        ┆ 315.0           ┆ 570.73 │
│            ┆ Atwood ┆         ┆       ┆            ┆              ┆                 ┆        │
│ 2023-03-25 ┆ Taylor ┆ 777.5   ┆ SBD   ┆ 270.0      ┆ 197.5        ┆ 310.0           ┆ 559.8  │
│            ┆ Atwood ┆         ┆       ┆            ┆              ┆                 ┆        │
└────────────┴────────┴─────────┴───────┴────────────┴──────────────┴─────────────────┴────────┘

In [25]:

# unpivot data for graphing
sbd_df = user_df.melt(
    id_vars= ["Date", "Name", "Event"],
    variable_name="Lift",
    value_vars=["Best3SquatKg", "Best3BenchKg", "Best3DeadliftKg"],
    value_name="Weight"
).to_pandas()

wilks_df = user_df.select(
    pl.col(["Date", "Name", "Wilks"])
).to_pandas()

In [26]:
wilks_df

          Date           Name   Wilks
0   2013-09-14  Taylor Atwood  453.11
1   2014-02-01  Taylor Atwood  462.19
2   2014-07-17  Taylor Atwood  496.92
3   2014-12-06  Taylor Atwood  493.37
4   2015-10-15  Taylor Atwood  501.86
5   2016-06-19  Taylor Atwood  521.01
6   2016-10-13  Taylor Atwood  523.52
7   2017-06-14  Taylor Atwood  528.12
8   2017-10-10  Taylor Atwood  542.20
9   2018-03-03  Taylor Atwood  554.01
10  2018-06-06  Taylor Atwood  546.40
11  2018-10-11  Taylor Atwood  558.90
12  2019-06-04  Taylor Atwood  569.99
13  2019-10-16  Taylor Atwood  569.37
14  2020-03-14  Taylor Atwood  543.68
15  2020-10-18  Taylor Atwood  585.66
16  2021-06-14  Taylor Atwood  605.30
17  2022-04-01  Taylor Atwood  528.32
18  2022-06-06  Taylor Atwood  570.73
19  2023-03-25  Taylor Atwood  559.80

In [4]:
schema = {'Name': pl.Utf8,
 'Sex': pl.Utf8,
 'Event': pl.Utf8,
 'Equipment': pl.Utf8,
 'Age': pl.Float64,
 'AgeClass': pl.Utf8,
 'BirthYearClass': pl.Utf8,
 'Division': pl.Utf8,
 'BodyweightKg': pl.Float64,
 'WeightClassKg': pl.Utf8,
 'Squat1Kg': pl.Float64,
 'Squat2Kg': pl.Float64,
 'Squat3Kg': pl.Float64,
 'Squat4Kg': pl.Float64,
 'Best3SquatKg': pl.Float64,
 'Bench1Kg': pl.Float64,
 'Bench2Kg': pl.Float64,
 'Bench3Kg': pl.Float64,
 'Bench4Kg': pl.Float64,
 'Best3BenchKg': pl.Float64,
 'Deadlift1Kg': pl.Float64,
 'Deadlift2Kg': pl.Float64,
 'Deadlift3Kg': pl.Float64,
 'Deadlift4Kg': pl.Float64,
 'Best3DeadliftKg': pl.Float64,
 'TotalKg': pl.Float64,
 'Place': pl.Utf8,
 'Dots': pl.Float64,
 'Wilks': pl.Float64,
 'Glossbrenner': pl.Float64,
 'Goodlift': pl.Float64,
 'Tested': pl.Utf8,
 'Country': pl.Utf8,
 'State': pl.Utf8,
 'Federation': pl.Utf8,
 'ParentFederation': pl.Utf8,
 'Date': pl.Utf8,
 'MeetCountry': pl.Utf8,
 'MeetState': pl.Utf8,
 'MeetTown': pl.Utf8,
 'MeetName': pl.Utf8}

In [21]:
data=pl.read_csv('data/openipf-2023-03-18/openipf-2023-03-18-16bd0ed1.csv', infer_schema_length=None)

op_data = pl.read_csv('data/openpowerlifting-2023-03-18/openpowerlifting-2023-03-18-16bd0ed1.csv', infer_schema_length=None)

In [22]:
op_data.write_parquet('data/openpowerlifting-2023-03-18/openpowerlifting-2023-03-18-16bd0ed1.parquet')

In [23]:
op_data = pl.read_parquet('data/openpowerlifting-2023-03-18/openpowerlifting-2023-03-18-16bd0ed1.parquet')

In [39]:
op_cols = [
    "Name",
    "Sex",
    "Event",
    "Date",
    "MeetCountry",
    "MeetState",
    "Equipment",
    "Best3SquatKg",
    "Best3BenchKg",
    "Best3DeadliftKg", 
    "TotalKg",
    "Wilks",
    "Tested",
    "Federation"
]

In [41]:
filtered_data = op_data.filter(pl.col('Name') == "Nam Tonthat").select(op_cols)

In [43]:
filtered_data

shape: (3, 14)
┌─────────────┬─────┬───────┬────────────┬───┬─────────┬────────┬────────┬────────────┐
│ Name        ┆ Sex ┆ Event ┆ Date       ┆ … ┆ TotalKg ┆ Wilks  ┆ Tested ┆ Federation │
│ ---         ┆ --- ┆ ---   ┆ ---        ┆   ┆ ---     ┆ ---    ┆ ---    ┆ ---        │
│ str         ┆ str ┆ str   ┆ str        ┆   ┆ f64     ┆ f64    ┆ str    ┆ str        │
╞═════════════╪═════╪═══════╪════════════╪═══╪═════════╪════════╪════════╪════════════╡
│ Nam Tonthat ┆ M   ┆ SBD   ┆ 2022-09-17 ┆ … ┆ 445.0   ┆ 333.84 ┆ Yes    ┆ USAPL      │
│ Nam Tonthat ┆ M   ┆ SBD   ┆ 2022-12-03 ┆ … ┆ 462.5   ┆ 360.48 ┆ Yes    ┆ USAPL      │
│ Nam Tonthat ┆ M   ┆ SBD   ┆ 2021-04-11 ┆ … ┆ 433.0   ┆ 334.25 ┆ Yes    ┆ PA         │
└─────────────┴─────┴───────┴────────────┴───┴─────────┴────────┴────────┴────────────┘